@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

h1 {
  font-family: "Open Sans";
}

#display {
  font-family: "DS-Digital";
}

.input-button {
  font-family: "Open Sans";
}

@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGI.TTF") format("truetype");
}
